# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
.installed.cfg
*.egg-info/
*.egg

# Logs
logs/
*.log

# Virtual environments
venv/
ENV/
env/

# IDE files
.vscode/
.idea/

# Test coverage
.coverage
.coverage.*
htmlcov/

# Documentation
docs/_build/
